<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.PROXIMITY_SCREEN_OFF_WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <service
            android:name=".ProximityService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".page_8th"
            android:exported="true" />
        <activity
            android:name=".page_20th"
            android:exported="true" />
        <activity
            android:name=".page_21th"
            android:exported="true" />
        <activity
            android:name=".page_19th"
            android:exported="true" />
        <activity
            android:name=".page_18th"
            android:exported="true" />
        <activity
            android:name=".page_17th"
            android:exported="true" />
        <activity
            android:name=".page_16th"
            android:exported="true" />
        <activity
            android:name=".page_13th"
            android:exported="true" />
        <activity
            android:name=".page_14th"
            android:exported="true" />
        <activity
            android:name=".page_15th"
            android:exported="true" />
        <activity
            android:name=".top_rect"
            android:exported="true" />
        <activity
            android:name=".page_3rd"
            android:exported="true" />
        <activity
            android:name=".page_4rth"
            android:exported="true" />
        <activity
            android:name=".page_5th"
            android:exported="true" />
        <activity
            android:name=".page_11th"
            android:exported="true" />
        <activity
            android:name=".page_12th"
            android:exported="true" />
        <activity
            android:name=".about_dev"
            android:exported="true" />
        <activity
            android:name=".page_9th"
            android:exported="true" />
        <activity
            android:name=".page_7th"
            android:exported="true" />
        <activity
            android:name=".settingPage"
            android:exported="true" />
        <activity
            android:name=".page_6th"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <provider -->
        <!-- android:name="androidx.core.content.FileProvider" -->
        <!-- android:authorities="${applicationId}.FileProvider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths" /> -->
        <!-- </provider> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.multimediaconvertor.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>